/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-transition-delay: 0.4s;
  --card-transition-duration: 0.5s;
}

body {
  font-family: 'Helvetica', 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  color: #293c4b;
  background: #42275a;
  background: linear-gradient(to bottom, #734b6d, #42275a);




  color: white;
}

@keyframes expand {
  0% {
    flex: 0;
    opacity: 0;
  }

  50% {
    flex: 1;
  }

  100% {
    flex: 1;
    opacity: 1;
  }
}

@keyframes contract {
  0% {
    flex: 1;
    opacity: 1;
  }

  100% {
    flex: 0;
    opacity: 0;
  }
}


#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.plant {
  flex: 0 1 content;
  padding: 2rem;
}

.hand-container {
  flex: 0 0 content;
  display: flex;
  overflow-x: hidden;
}

.hand {
  /* border: 1px solid red; */
  overflow-x: hidden;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: flex-end;
  list-style: none;
  flex: 1;
  animation-duration: var(--card-transition-duration);
  animation-delay: var(--card-transition-delay);
  animation-fill-mode: forwards;
  animation-name: contract;
}

.hand:first-child {
  flex: 0;
  animation-name: expand;
}


.card:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -3%;
  content: "";
  z-index: -1;
  display: inline-block;
  border-radius: 1rem;
  transition: transform 0.2s;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
  background: #c94b4b;
  background: linear-gradient(to top, #601665, #c94b4b);
}

/* .card-container:hover {
  transform: scale(1.1) translate(0, -0.5rem) rotate(-3deg);
} */

.card {
  position: relative;
  user-select: none;
  display: inline-block;
  margin-bottom: 0.5rem;
  text-align: center;
  white-space: nowrap;
  flex: 1;
  max-width: 15rem;
  font-size: 1rem;
  padding: min(3%, 1rem);
  margin: 3%;
  border-radius: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
}

.card .title {
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(0.5rem, 4vw, 2.5rem);
}

.card .icon {
  font-size: clamp(0.5rem, 8.333vw, 6.5rem);
}

.card .body {
  text-align: left;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(46, 46, 46, 0.7);
  padding: 10%;
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: clamp(0.2rem, 2vw, 1rem);
}

.card button {
  width: 100%;
  overflow-x: hidden;
  font-size: clamp(0.2rem, 3vw, 1rem);
  font-weight: bolder;
  padding: 3%;
  transition: background 0.3s, transform 0.1s;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem 0.5rem 0 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(46, 46, 46, 0.7);
}

.card button:hover {
  background: rgba(255, 255, 255, 0.8);
  color: rgba(46, 46, 46, 1);
}

.card button:active {
  background: rgba(255, 255, 255, 0.2);
}